Werkzeug==0.9.4
django-debug-toolbar==0.9.4

mock==1.0.1
pytest==2.4.2
pytest-django==2.3.1
pytest-cov==1.6
pytest-pep8==1.0.5
django-oscar-testsupport==0.4
WebTest==2.0.9
django-webtest==1.7.5

factory-boy==2.2.1
humanize==0.5

docutils==0.11
coverage>=3.6
flake8==2.0
pyflakes==0.7.3
coveralls>=0.2

# we need this to make sure that we test against Oscar 0.6
-e git+https://github.com/tangentlabs/django-oscar.git#egg=django-oscar

django-haystack==2.1.0
