Werkzeug==0.9.4
django-debug-toolbar==1.0.1

mock==1.0.1
pytest==2.5.2
pytest-django==2.6
pytest-cov==1.6
pytest-pep8==1.0.5
WebTest==2.0.14
django-webtest==1.7.6

factory-boy==2.2.1
humanize==0.5

docutils==0.11
coverage>=3.6
flake8==2.1.0
pyflakes==0.7.3
coveralls>=0.2

django-haystack==2.1.0
