{% load i18n %}
{% load url from future %}

{% if ticket_list|length %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans 'Ticket' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Date submitted' %}</th>
            <th>{% trans 'Last updated' %}</th>
            <th>{% trans 'Assigned to' %}</th>
            <th></th>
        </tr>
        {% for ticket in ticket_list %}
        <tr>
            <td><strong>#{{ ticket.number }}</strong>: {{ ticket.subject|truncatechars:50 }}</td>
            <td>{{ ticket.status.name }}</td>
            <td>{{ ticket.date_created|date:"jS M Y H:i" }}</td>
            <td>{{ ticket.date_updated|date:"jS M Y H:i" }}</td>
            <td>{{ ticket.assignee.get_full_name|default:"-" }}</td>
            <td>
                <a href="{% url 'support:customer-ticket-update' ticket.id %}" class="btn">{% trans "Update" %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>{% trans "You don't have any tickets." %}</p>
{% endif %}
