{% extends "dashboard/layout.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "ticketing/css/ticketing.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "ticketing/js/dashboard.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    ticketing.dashboard.init();
{% endblock %}

